@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300:400;600&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";

/* padding을 추가하면 자동적으로 box의 크기가
                              padding을 더한 크기로 커지고 content의
                              크기는 유지가 된다. 
                              border-box를 사용하면 content의 크기가
                              padding을 제외한 값으로 감소하고 box의
                              크기는 유지가 된다.*/
* {
  box-sizing: border-box;
}
body {
  background-color: white;
  padding: 10px 20px; /* 10px top bottom 20px left right*/
  color: #020202;
}

a {
  color: inherit; /* 부모의 칼라 속성을 받아옴 */
  text-decoration: none;
}
